:root {
  --black: #232321;
  --yellow: #F8D003;
  --lightgray: #ededf6;
  --lato: 'Lato', sans-serif;
  --opensans: 'Open Sans', sans-serif;
  --white: #fff; 
  --robotoslab: 'Roboto Slab', serif;
}

/* font-family: 'Hurricane', cursive;
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif; 
font-family: 'Roboto Slab', serif;*/

* {
  box-sizing: border-box;
  margin: 0px;
}
body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  background-color: var(--black);
}
body p {
  font-family: var(--opensans);
}

/* ------------- header component -------------- */
header {
  display: flex;
  justify-content: space-between;
  padding: 1% 0;
  background-color: var(--black);
}
nav {
  color: var(--yellow);
}
.navbar-brand {
  color: var(--yellow);
  font-family: var(--robotoslab);
}
.nav-item {
  font-family: 'Roboto Slab', serif !important;
  font-size: 18px;
}
.nav-item a {
  text-decoration: none;
  color: var(--yellow);
}
.nav-item a:hover {
  opacity: .8;
}
.navbar-toggler {
  color: var(--yellow) !important;
  font-size: 30px !important;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%) !important;
}
ul.nav-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
  list-style-type: none;
}
ul.nav-icons img {
  width:35px !important;stroke: blue;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
  color: var(--yellow) !important;
  font-weight: bold;
}
.btn-close {
  color: var(--yellow) !important;
}
.offcanvas-lg {
  background: var(--black);
}
.offcanvas-title {
  font-family: var(--robotoslab);
}

/* ------------- footer component -------------- */
.footer {
  --bs-bg-opacity: 1;
  background-color: var(--yellow);
  padding:20px;
  color: var(--white);
  font-family: var(--robotoslab);
  text-transform: uppercase;
}
.footer li {
  list-style: none;
}



/* ------------- portfolio page -------------- */
.carousel-caption {
  top:15%;
}
.carousel p {
  font-family: var(--robotoslab);
  font-size: 18px;
  padding: 20px 0;
  max-width: 80%;
  line-height: 1.6em;
}
.carousel .logo {
  width: 300px;
}
.slide-one-bg {
  background: url(../img/Brick\ Repo\ banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;
}
.slide-two-bg {
  background: url(../img/Brick\ Repo\ banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;
}




/* media queries */
/* Medium Devices, Desktops */
@media (min-width: 992px) and (max-width: 1199px) {

  }    

/* Tablets - fonts  */
@media screen and (max-width: 992px) {
    .navbar-nav {
    flex-direction: column !important;
    margin-top: 30px;
    }
  }


@media screen and (max-width: 912px) {

}

/* Large smartphones */
@media screen and (max-width: 768px) {

}

/* Small smartphones */
@media screen and (max-width: 576px) {

}